.main-container {
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 80px);
}
.refs {
  background: cornsilk;
}
.content {
  background: #e1e1e1;
}
.main-container .form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.button-container {
  align-self: flex-end;
}

.error p {
  margin: 0;
  color: red;
}
