<div class="row main-container">
  <div class="col-3 refs">
    <dl>
      <dt>Forms</dt>
      <dd>
        <p><a href="https://blog.mailtrap.io/angular-email-validation/" target="_new">Click</a> here to view email valiation</p>
        <p><a href="https://www.pluralsight.com/guides/difference-between-template-driven-and-reactive-forms-angular" target="_new">Click</a> here to view the forms differences</p>
        <p><a href="https://blog.angular-university.io/introduction-to-angular-2-forms-template-driven-vs-model-driven/" target="_new">Click</a> here to see in more details</p>
      </dd>
    </dl>
  </div>
  <div class="col-8 content">
    <h1>Template-driven Form</h1>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate autocomplete="off">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" tabindex="1" class="form-control" name="firstName"
          id="firstName" ngModel/>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" tabindex="2" class="form-control" name="lastName"
          id="lastName" ngModel/>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" tabindex="3" class="form-control" name="email"
          id="email" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" />

        <div class="error" *ngIf="email.errors && (email.dirty || email.touched)">
          <p *ngIf="email.errors.required">
            Please enter email address
          </p>
          <p *ngIf="email.errors?.pattern">
            Please enter valid email address
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" tabindex="4" class="form-control" name="password"
          id="password" ngModel required #password="ngModel" />
        <div class="error" *ngIf="password.errors && (password.dirty || password.touched)">
          <p *ngIf="password.errors.required">
            Please enter password
          </p>
        </div>
      </div>

      <div class="form-group button-container">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
