<div class="row main-container">
  <div class="col">
    <h1>Reactive Form</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" tabindex="1" class="form-control" name="firstName"
          id="firstName" formControlName="firstName" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" tabindex="2" class="form-control" name="lastName"
          id="lastName" formControlName="lastName" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" tabindex="3" class="form-control" name="email" id="email" formControlName="email" />

        <div class="error" *ngIf="form.get('email').errors && (form.get('email').dirty || form.get('email').touched)">
          <p *ngIf="form.get('email').errors.required">
            Please enter email address
          </p>
          <p *ngIf="form.get('email').errors?.pattern">
            Please enter valid email address
          </p>
        </div>
      </div>
      <div class="form-group">
        <input type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" #rememberMe />
        <label for="rememberMe">Remember Me</label>
      </div>
      <div class="form-group button-container">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
