/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
.main-container {
  display: flex;
  flex-direction: column;
}
.navBar {
  height: 100vh;
  background: #e2e2e2;
  color: #000;
  padding: 0px;
  margin: 0;
}
.content-section {
  flex: 0 1 auto;
}
